<h1 class="titulo">{{title}}</h1>

<div class="h-screen flex flex-col justify-center">
  <div class="my-6 text-center bg-green-500 py-2 text-white text-[20px]" *ngIf="mensaje">
    <p>Datos correctos!!! {{mensajeLogeado}}</p>
  </div>
  <div
    class="w-[80%] mx-auto px-8 py-5 rounded-lg shadow-[0_0_10px_1px_rgba(0,0,0,0.2)] sm:w-[70%] md:w-[60%] lg:w-[50%] xl:w-[40%]">
    <h1 class="text-[25px] text-center font-bold">Login</h1>
    <div>
      <form [formGroup]="formLogin">
        <div class="my-6">
          <div class="mb-1">
            <label for="email">Username</label>
          </div>
          <div>
            <input class="w-full border border-gray-300 rounded py-2 px-2" type="email" name="email" id="email" formControlName="email"
              placeholder="ej. michell@gmail.com" required minlength="5" maxlength="250" class="form-control" [class.is-invalid]="email.invalid && (email.dirty || email.touched)" [(ngModel)]="inputEmail">
            
            
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                <div *ngIf="email.errors?.['required']">
                    Este campo es obligatorio.
                </div>
                <div *ngIf="email.errors?.['minlength']">
                    Este campo debe tener al menos 5 carácter.
                </div>
                <div *ngIf="email.errors?.['maxlength']">
                    Este campo debe tener como máximo 250 caracteres.
                </div>
                <div
                    *ngIf="!email.errors?.['required'] && !email.errors?.['minlength'] && !email.errors?.['maxlength'] && email.errors?.['emailValidator']">
                    Formato de correo inválido.
                </div>
            </div>


          </div>
        </div>
        <div class="my-6">
          <div class="mb-1">
            <label for="password">Password</label>
          </div>
          <div>
            <input class="w-full border border-gray-300 rounded py-2 px-2" type="password" name="password" id="password"
              placeholder="ej. 123456" minlength="4" formControlName="password" required class="form-control"
              [class.is-invalid]="password.invalid && (password.dirty || password.touched)" [(ngModel)]="inputPass">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
              <div *ngIf="password.errors?.['required']">
                Este campo es obligatorio.
              </div>
              <div *ngIf="password.errors?.['minlength']">
                Este campo debe tener al menos 4 caracteres.
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <button class="bg-blue-500 py-2 w-full text-white rounded-lg duration-300 hover:bg-blue-600 mybotonClass"
            [disabled]="formLogin.invalid" (click)="validate()">Login</button>
        </div>
      </form>
    </div>
  </div>
    <div class="w-[80%] mx-auto mt-4 sm:w-[70%] md:w-[60%] lg:w-[50%] xl:w-[40%]">
      <p>Username: {{inputEmail}}</p>
      <p>Password: {{inputPass}}</p>
    </div>
</div>






<router-outlet></router-outlet>